@import "subapp-variables";

.login-page {
  background: #f0f2f5;
  .home-container {
    width: 100%;
    max-width: 980px;
    margin: auto 2rem;
    .logo-container {
      padding-right: 2rem;
      >div {
        padding-top: 5rem;
        padding-bottom: 1.5rem;
      }
    }
    .form-container {
      background: #fff;
      width: 100%;
      max-width: 400px;
      padding-top: 1rem;
      padding-bottom: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
      box-sizing: border-box;
      margin: 40px 0 0;
      .q-form {
        margin: auto;
        width: calc(100% - 30px);
        .form-group{
          min-height: 85px;
          .form-group--error {
            .q-field--outlined .q-field__control:before {
              border-color: $negative;
            }
          }
          .error{
            color: $negative;
            margin: 0.25rem 0 .5rem 0;
          }
        }
        .button-container {
          .q-btn {
            width: 100%;
            min-height: 40px;
            max-width: 200px;
            margin: auto;
            display: flex;
            &.button-login {
              max-width: 100%;
            }
          }
        }
        .link-container {
          display: flex;
          .forgot-psw {
            margin: 1rem auto 0 auto;
            color: $primary;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
      .line-separator {
        align-items: center;
        border-bottom: 1px solid #dadde1;
        display: flex;
        margin: 20px 16px;
        text-align: center;
      }
    }
  }
}

@media (max-width: $breakpoint-xs-max) {

  .login-page {

    .home-container {
      margin: auto 1rem;
      .logo-container {
        padding-right: 0;
        >div {
          padding-top: 2rem;
        }
      }
      .form-container {
        margin: 1rem 0 0;
        .q-form {

          .form-group{

            .form-group--error {
              .q-field--outlined .q-field__control:before {

              }
            }
            .error{

            }
          }
          .button-container {
            .q-btn {

              &.button-login {

              }
            }
          }
          .link-container {

            .forgot-psw {

              &:hover {

              }
            }
          }
        }
        .line-separator {

        }
      }
    }
  }
}
